.item{
    width: 80%;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid rgb(250, 207, 151);
    box-shadow: 7px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.item:hover{
    background-color: bisque;
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(250, 207, 151);
}

.activ {
    background-color: forestgreen;
}

.busy {
    background-color: red;
}

.avatar {
    width: 40px;
}

.name {
    font-size: 24px;
}